body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #00695c;
  color: white;
  text-align: center;
  padding: 40px 20px;
}

nav {
  background-color: #004d40;
  padding: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

section {
  padding: 40px;
  text-align: center;
}

section img {
  max-width: 80%;
  margin-top: 20px;
  border: 2px solid #ccc;
  border-radius: 8px;
}

footer {
  background-color: #00695c;
  color: white;
  text-align: center;
  padding: 20px;
}
#gallery {
  text-align: center;
  padding: 40px;
  background-color: #f0f0f0;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.gallery-item {
  width: 200px;
  text-align: center;
}

.gallery-item img {
  width: 100%;
  height: 150px;
  object-fit: cover; /* garde l’image bien cadrée */
  border-radius: 10px; /* coins arrondis */
  border: 3px solid #00695c;
}

.gallery-item p {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}
